@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto 700', sans-serif;
}

i {
    color: #bec1bb;
    font-size: 0.8em;
}

i:hover {
    color: #828485;
}

.nav {
    width: 17%;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

.navigations {
    border: 0.1px solid #828485;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    border-collapse: collapse;
}

.navigations1 {
    border: 0.1px solid #828485;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    border-collapse: collapse;
}

.text {
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.text h3 {
    padding: 0;
    margin: 0;
    font-size: 1em;
    color: black;
}

.text p {
    padding: 0;
    margin: 0;
    font-size: 0.7em;
    color: #bec1bb;
}

.text1 {

    display: flex;
    flex-direction: column;
    text-align: left;
    flex: 1 1 auto;
}

.text1 h3 {
    padding: 0;
    margin: 0;
    font-size: 0.9em;
    color: black;
}

.text1 p {
    padding: 0;
    margin: 0;
    font-size: 0.7em;
    color: #bec1bb;
}


.imge {
    margin: auto;
    width: 3em;
    height: 3em;
}

.imge img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1.5px solid #cdc3e6;

}

.imge1 {
    margin: auto;
    width: 2.5em;
    height: 2.5em;
    flex: 1 1 auto;
}

.imge1 img {
    width: 70%;
    height: 90%;
    border-radius: 50%;
    border: 1.5px solid #cdc3e6;
}

.newChat {
    border: 0.1px solid #828485;
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-collapse: collapse;
}

.btn {
    background-color: #A491D2;
    width: 8em;
    height: 3.5em;
    color: white;
    padding-top: 0.3em;
    text-align: center;
}

.btn:hover {
    background-color: #cdc3e6;
}

.btn :focus {
    background-color: #bec1bb;
}

.iconMsn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 3 1 auto;
}

.toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 3 1 auto;
}

main {
    display: flex;
    flex-flow: row nowrap;
}

.principal {
    margin: auto;
    width: 17em;
}

.principal img {
    width: 100%;
}

.box {
    margin: auto;
    width: 30em;
}

.texto {
    text-align: center;
}

.full {
    display: flex;
    flex: 1 1 auto;
    background-color: #E8ebe4;
}

@media only screen and (max-width: 100px) {
    .nav {
        width: 50%;
    }
}

@media only screen and (max-width: 800px) {
    .nav {
        width: 40%;
    }
}

@media only screen and (max-width: 600px) {
    .nav {
        width: 50%;
    }
}

@media only screen and (max-width: 400px) {
    .nav {
        width: 100%;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .box {
        width: fit-content;
    }

}