* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    color: white;
    font-size: 10rem;
}

#container {
    font-size: medium;
    background-color: grey;
    width: fit-content;
    height: fit-content;
}